/env
/env/
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp
*.svg
*.eps
*.pdf
*.txt
*.csv
*.json
*.xml
*.yaml
*.yml
*.html
*.css
*.js
*.docx
*.doc
*.xls
*.xlsx
*.ppt
*.pptx
*.odt
*.ods
*.odp
*.odg
*.odf
*.pyc
main.py
descisionTree.py


